# Python Dictionary

In [1]:
point = (3,5)

In [2]:
point[1]

5

In [3]:
def find_pb_and_pr(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [7]:
pe_ratio, pb_ratio = find_pb_and_pr(100, 2, 4)
pe_ratio

50.0

In [8]:
pb_ratio

25.0

In [16]:
contacts = [('alamin',1641), ('hello',44444)]

for cont in contacts:
    print(cont)

('alamin', 1641)
('hello', 44444)

In [20]:
d = {
    'alamin' : 1641,
    'hello' : 2345,
    'are' : 9248
}

In [21]:
d['alamin']

1641

In [24]:
d.get('Hello', 0)

0

In [25]:
d['alamin'] = 4837598

In [26]:
d

{'alamin': 4837598, 'hello': 2345, 'are': 9248}

In [27]:
del d['are']

In [28]:
d

{'alamin': 4837598, 'hello': 2345}

In [36]:
new_dic = {
    'alamin' : {'address' : 'Bashundhara', 'Phone' : '0164123xxx', 'uni': 'NSU'},
    'niloy' : {'address' : 'out-Bashundhara', 'Phone' : '0164123xxx', 'uni': 'NSU'},
    'aminul' : {'address' : 'Jatra-bari', 'Phone' : '0164123xxx', 'uni': 'NSU'}
}
new_dic['niloy']['address']

'out-Bashundhara'

In [37]:
new_dic

{'alamin': {'address': 'Bashundhara', 'Phone': '0164123xxx', 'uni': 'NSU'},
 'niloy': {'address': 'out-Bashundhara', 'Phone': '0164123xxx', 'uni': 'NSU'},
 'aminul': {'address': 'Jatra-bari', 'Phone': '0164123xxx', 'uni': 'NSU'}}

In [45]:
for name in new_dic:
    print(name, new_dic[name]['uni'])

alamin NSU
niloy NSU
aminul NSU

In [46]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [47]:
new_dic.keys()

dict_keys(['alamin', 'niloy', 'aminul'])

In [48]:
new_dic.values()

dict_values([{'address': 'Bashundhara', 'Phone': '0164123xxx', 'uni': 'NSU'}, {'address': 'out-Bashundhara', 'Phone': '0164123xxx', 'uni': 'NSU'}, {'address': 'Jatra-bari', 'Phone': '0164123xxx', 'uni': 'NSU'}])